---
import Card from "./Card.astro";
import githubImg from "../img/github.jpg";
import portfolioImg from "../img/img-portfolio.jpg";
import linkedinImg from "../img/linkedin.jpg";
import resumeImg from "../img/resume.jpg";
---

<body>
	<section id="cards">
		<article class="card-container" id="card-1">
			<Card
				name="Github"
				img={githubImg}
				id="2"
				href="https://github.com/ezestom"
			/>
		</article>
		<article class="card-container" id="card-2">
			<Card
				name="Portfolio"
				img={portfolioImg}
				id="1"
				href="https://ezestom.github.io/portfolio/"
			/>
		</article>
		<article class="card-container" id="card-3">
			<Card
				name="Linkedin"
				img={linkedinImg}
				id="3"
				href="https://www.linkedin.com/in/ezequielstom/"
			/>
		</article>
		<article class="card-container" id="card-4">
			<Card
				name="Resume"
				img={resumeImg}
				id="4"
				href="https://ezestom-resume.vercel.app/"
			/>
		</article>
	</section>
</body>

<style>
	.card-container {
		transition: all 0.3s ease-in-out;
	}
	.card-container:hover {
		transform: scale(0.98);
		box-shadow: inset;
	}

	body {
		min-height: 100vh;
		height: 100%;
		width: 100vw;
		padding: 0;
		margin: 0;
		transition: background-color 1000ms;
	}
	#cards {
		min-width: 90vw;
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: start;
		height: fit-content;
		gap: 0.5rem;
	}

	@media (max-width: 1200px) {
		body {
			justify-content: flex-start;
			align-items: flex-start;
		}

		#cards {
			flex-direction: column;
			align-items: center;
			gap: 4rem;
			padding: 4rem;
		}
	}

	@media (max-width: 600px) {
		#cards {
			gap: 2rem;
			padding: 2rem;
			margin-bottom: 2rem;
		}
	}
</style>
