---

---

<footer class="absolute bottom-1 m-auto left-0 right-0 text-center" >
	<a
		target="_blank"
		href="https://ezestom.github.io/portfolio/"
		class="col-md-12 text-white/40 font-semibold hover:text-white transition w-fit">
		<span class="">
			<code> © 2024 - Created and Designed by Eze Stom</code>
		</span>
	</a>
</footer>

<style></style>
