---

---

<footer class="grid items-center">
	<div class="w-full flex justify-center items-center">
		<a
			target="_blank"
			href="https://ezestom.github.io/portfolio/"
			class="col-md-12 text-white/50 font-semibold hover:text-white transition">
			<p class="flex items-center">
				<code> © 2024 - Created and Designed by Eze Stom</code>
			</p>
		</a>
	</div>
</footer>

<style></style>
